.myChart {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
  width: 100%;
  margin: 10 auto;
}

.chartContainer {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  height: 400px;
}
