.accordionContainer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordionTab {
  /* max-width: 70%; */
  /* margin: 0 auto; */
  /* Add shadows to create the "card" effect */
  /* box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2); */
}

.openTabRadio, .closeTabRadio {
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: block;
  background: #16a085;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.blue label {
  background: #2980b9;
}

.tab-content {
  max-height: 300px;
  overflow: scroll;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  text-align: left;
}

.tab-content::-webkit-scrollbar { 
  display: none; 
}

.tab-contents-single{
  border-left: 5px solid black;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.63)
}


.tab-content p {
  margin: 1em;
}

.closeTabLabel {
  display: none;
  content: "+";
}

.openTabLabel::after {
  content: "+";
}

.closeTabLabel::after {
  content: "-";
}

/* :checked */
.openTabRadio:checked ~ .tab-content {
  max-height: 300px;
}

.openTabRadio:checked ~ .openTabLabel {
  display: none;
}

.openTabRadio:checked ~ .closeTabLabel {
  display: block;
}


/* :checked */
.closeTabRadio:checked ~ .tab-content {
  max-height: 0;
}

.closeTabRadio:checked ~ .closeTabLabel {
  display: none;
}

.closeTabRadio:checked ~ .openTabLabel {
  display: block;
}


/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.close_icon{
  width: 15px;
  /* margin-top: 15px; */
}
