.fileClear {
    /* width: 90%; */
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* float: left; */
}  
  
.clearButton {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.clearButton + .fileLabel {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #16a084de;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
    width: 300px;
    margin-top: 20px;
}

.clearButton:focus + .fileLabel,
.clearButton + .fileLabel:hover {
    background-color: #119e82;
}

.clearButton:focus + .fileLabel {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.clearButton + .fileLabel * {
    pointer-events: none;
}

svg{
fill: white;
}