
.DateRangeSelector {
    display: flex;
    justify-content: space-around;
    /* max-width: 70%; */
    margin: 0 auto;
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2); */
    /* border-style: solid; */
    line-height: 3;
    margin-top: 20px;   
}

.startDatePicker{
    
}

.DateRangeSelector input{
    height: 40px;
    width: 160px;
    font-size: 18px;
    border-radius: 20px;
    /* border: none; */
    border-color: #5251512a;
    border-width: 1px;
    padding: 10px;
    text-align: center;
}

.DateRangeSelector input:focus{
  outline: none;
}

.dateLabel{
    background-color: rgba(255, 255, 255, 0);
    width: 60px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}


.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}