.dropzone {
    width: 60%;
    min-width: 280px;
    margin: 0 auto;
}

.dropzoneBox{
    /* width: 60%; */
    height: 50%;
    border-style: dashed;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

.dropzoneActive{
    background-color: #16a0846c;
}

.inner {
    font-size: 25px;
}

.dropzoneBox:hover{
    color: #16a084c4;
    cursor: pointer;
}

.down_arrow{
  margin-top: 30px;
  margin-bottom: 30px;
    height: 120px;
    width: 120px;
    opacity: 0.7;
}

.santander_logo {
  height: 120px;
  width: 120px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 3px 3px 3px;
  border: 1px solid rgba(81, 203, 238, 1);
}
