/* @font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url('../../fonts/codropsicons/codropsicons.eot');
	src: url('../../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../../fonts/codropsicons/codropsicons.woff') format('woff'), url('../../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
} */


.dropzone {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropzoneBox{
    width: 60%;
    height: 300px;
    border-style: dashed;
    border-width: 4px;
}

.dropzoneActive{
    background-color: #16a0846c;
}
  
.inner {
    font-size: 25px;
    padding: 110px;
}

.dropzoneBox p:hover{
    color: #16a084c4;
}