.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.788);
    color: white;
    text-align: center;
}

.footer i{
    margin-left: 10px;
}


.banksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.banksText{
  font-size: 25px;
}

.selecterWrapper{
  width: 90%;
  max-width: 400px;
}
